:root {
    --mr: 1em;
    --mh: 2em;
    --ml: 1em;
    --mtr: 0.5em;
    --hr: 1.2em;
}
@media (prefers-color-scheme: light) {
    :root {
        --tc: black;
        --tc-done: lightgreen;
        --tc-out: orange;
        --tc-heading: #BBB;
        --tc-link: blue;
        --tc-low: #666;
        --bg: white;
        --bg-button: rgb(236, 236, 236);
        --bg-done: lightgreen;
        --bg-out: orange;
        --bg-alert: rgb(255, 83, 83);
        }
}
@media (prefers-color-scheme: dark) {
    :root {
        --tc: white;
        --tc-done: green;
        --tc-out: darkred;
        --tc-heading: grey;
        --tc-link: blue;
        --tc-low: #AAA;
        --bg: rgb(35, 33, 33);
        --bg-button: rgb(7, 47, 64);
        --bg-done: rgb(7, 76, 37);
        --bg-out: rgb(98, 4, 7);
        --bg-alert: rgb(130, 91, 8);
        }
}

* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    color: var(--tc);
}
@media (orientation: landscape) {
    body { font-size: 3em; }
}

@media (orientation: portrait) {
    body { font-size: 4.5em; }
    * { font-stretch: condensed; }
    div.imprint {
        font-size: 50%;
    }

}
body {
    background-color: var(--bg);
    padding-bottom: 3em;
}

a {
    display: block;
    text-decoration: none;
}
a:hover { cursor: pointer; }
a > p {
    line-height: 90%;
    overflow-x: clip;
}
#top, div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--mh);
}
#items {
    margin-top: 1em;
}
div > div {
    position: relative;
    margin-bottom: 1em;
}
div > div > a:nth-child(1) {
    margin-right: var(--mr);
    padding: 0.05em;
    padding-left: var(--ml);
}
div > div > a:nth-child(2) {
    position: absolute;
    top: var(--mtr);
    right: 0;
    z-index: 3;
    width: var(--mr);
    height: var(--hr);
    border: 3px solid var(--tc-out);
    border-right: none;
    border-radius: 0.25em 0 0 0.25em;
}
#top, h2 {
    padding-left: var(--ml);
}
h2 {
    font-size: 100%;
    color: var(--tc-heading);
}
hr {
    margin: 1em;
    border: none;
}

#items .x p { color: var(--tc-done) }
#items .y p { color: var(--tc-out) }
#top.x { background-color: var(--bg-done); }
#top.y { background-color: var(--bg-out); }

#top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-right: var(--mr);
}
a#top {
    justify-content: center;
    background-color: var(--bg-button);
}

div.mn {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: var(--bg);
    width: 100%;
    z-index: 5;
}
div.mn > a {
    flex-grow: 1;
    /* background-color: var(--bg-button); */
    margin-left: 0.1em;
    height: var(--mh);
    height: 1.2em;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid var(--tc-heading);
}
div.mn > a:nth-child(1) {
    margin-left: 0;
}
div#bottom {
    position: fixed;
    left: 0;
    bottom: 0;
}
.reset { background-image: url('img/reset.svg'); }
.remove { background-image: url('img/trash.svg'); }
