:root {
    /* prevents from zoom by touch */
    touch-action: pan-x pan-y;
    height: 100%;
    /* prevents from links being highlighted due to the above */
    -webkit-tap-highlight-color: transparent;

    --minh: 1.6em;
    --pd-a: 1em;
    --pd-hd: 0.5em;
    --mb-item: 0.5em;

    --tc: black;
    --tc-done: darkgreen;
    --tc-out: darkred;
    --tc-heading: #666;
    --tc-link: blue;
    --bg: white;
    --bg-button: #EEE;

}
body {
    /* filter: grayscale(100%); */
}

@media (prefers-color-scheme: dark) {
    html { filter: invert(100%); }
    .keep, a > p {
        color: white;
        filter: invert(100%);
    }
    :root {
        --tc-done: rgb(80, 146, 80);
        --tc-out: coral;
    }
}

* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    color: var(--tc);
}

@media (orientation: landscape) {
    body { font-size: 3em; }
}

@media (orientation: portrait) {
    body { font-size: 4.5em; }
    * { font-stretch: condensed; }
}
body {
    background-color: var(--bg);
    /* padding-bottom: 3em; */
}
::selection {
    color: white;
    background-color: #888;
}
a {
    display: block;
    text-decoration: none;
    /* fixes chrome on android text size */
    text-size-adjust: none;
}
a:hover { cursor: pointer; }

a > p {
    line-height: 90%;
    overflow-x: clip;
}

a.p, a.a1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--minh);
    padding: 0.05em var(--pd-a) 0.05em var(--pd-a);
    /* padding-left: var(--pd-a); */
}
a.p {
    background-color: var(--bg-button);
    margin-bottom: 0.2em;
}

.x > p {
    text-decoration: line-through;
    color: var(--tc-done);
    opacity: 0.8;
}
.y > p {
    text-decoration: underline;
    color: var(--tc-out);
    opacity: 0.6;
}

a.item {
    background-color: transparent;
    margin-bottom: 0.5em;
}

/* .item.x > p {
    color: darkgreen;
}
.item.y > p {
    color: darkred;
} */

a.top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid var(--bg);
}

.bottom
{
    /* position: fixed; */
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

h2 {
    padding-left: var(--pd-hd);
    font-size: 100%;
    font-style: italic;
    color: var(--tc-heading);
    margin-bottom: 0.3em;
}

hr {
    border: none;
    margin: 1em;
}

div.listing, div.grow_up {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 80vh;
}

div.center
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.center > a {
    flex-grow: 0;
}

div.mn {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    z-index: 1;
    background-color: var(--bg);
    border-style: solid none solid none;
    border-width: 1px;
    border-color: var(--tc);
}

.i {
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
}
a.i {
    flex-grow: 1;
}

.i.back     { background-image: url('img/back.svg'); }
.i.clear    { background-image: url('img/clear.svg'); }
.i.edit     { background-image: url('img/pen.svg'); }
.i.forward  { background-image: url('img/forward.svg'); }
.i.home     { background-image: url('img/list.svg'); }
.i.remove   { background-image: url('img/trash.svg'); }
.i.reset    { background-image: url('img/reset.svg'); }
.i.save     { background-image: url('img/save.svg'); }
.i.view     { background-image: url('img/eye.svg'); }

textarea.txt {
    width: 95%;
    height: 90%;
    font-family: serif;
    font-size: 1em;
    padding: 1em 0 2em 1em;
    resize: none;
    overflow-x: clip;
    animation: 1s blink step-end infinite;
}

div.conf_main {
    visibility: hidden;
}
div.conf_main.v {
    visibility: visible;
}
div.conf_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    opacity: 0.4;
}

div.conf_fg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
div.conf_fg a {
    height: 3em;
    width: 5em;
    background-color: var(--bg);
    border: solid 0.1em var(--tc);
    border-radius: 0.5em;
}

.itxt {
    margin: 0 10% 0 10%;
}
.itxt * {
    font-size: inherit;
}

a.keep {
    color: var(--tc-link);
}
div.ico {
    padding: 0 0 1em 1.4em;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url('img/checked.svg');
    background-size: 1em;
}
.ico.ok {
    background-image: url('img/ico_ok.svg');
}
.ico.nok {
    background-image: url('img/ico_nok.svg');
}
.ico.go {
    background-image: url('img/ico_go.svg');
}

input.em {
    display: block;
    font-size: inherit;
    margin: 0.1em;
    padding: 0.1em;
    text-align: center;
}
input.i {
    display: block;
    width: 100%;
    font-size: inherit;
    border: none;
    background-color: var(--bg);
}

div.mail_form {
    background-image: url('img/mail.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2.5em;
    padding-top: 2.5em;
    margin-top: 0.5em;
}
