:root {
    --mr: 1em;
    --mh: 1.6em;
    --ml: 1em;
    --mtr: 0.5em;
    --hr: 1.2em;
    --bg-light: white;
    --bg-dark: black;
    --bg-middle: #888;
}

/*
    icon based buttons:
    light background
    invert in dark mode
    -> only dark icons required
 */
div.mn {
    background-color: var(--bg-light);
}

 @media (prefers-color-scheme: light) {
    :root {
        --tc: black;
        --tc-done: lightgreen;
        --tc-out: orange;
        --tc-heading: #BBB;
        --tc-link: blue;
        --tc-low: #666;
        --bg: white;
        --bg-button: rgb(236, 236, 236);
        --bg-done: lightgreen;
        --bg-out: orange;
        --bg-alert: rgb(255, 83, 83);
    }
}
@media (prefers-color-scheme: dark) {
    div.mn {
        filter: invert(100%);
    }
    :root {
        --tc: white;
        --tc-done: green;
        --tc-out: darkred;
        --tc-heading: grey;
        --tc-link: blue;
        --tc-low: #AAA;
        --bg: var(--bg-dark);
        /* --bg-button: rgb(7, 47, 64); */
        --bg-button: #444;
        --bg-done: rgb(7, 76, 37);
        /* --bg-out: rgb(195, 110, 0); */
        --bg-out: darkred;
        --bg-alert: rgb(186, 51, 51);

        /* --bg-out: rgb(98, 4, 7);
        --bg-alert: rgb(130, 91, 8); */
    }
}

* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    color: var(--tc);
}
@media (orientation: landscape) {
    body { font-size: 3em; }
}

@media (orientation: portrait) {
    body { font-size: 4.5em; }
    * { font-stretch: condensed; }
    div.imprint {
        font-size: 50%;
    }

}
body {
    background-color: var(--bg);
    padding-bottom: 3em;
}

a {
    display: block;
    text-decoration: none;
}
a:hover { cursor: pointer; }

a > p {
    line-height: 90%;
    overflow-x: clip;
}

/* text link: a containing p */
a.p, a.a1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--mh);
    padding: 0.05em;
    padding-left: var(--ml);
}
/*  links with bg color
    - top
    - menu
*/
a.p {
    background-color: var(--bg-button);
    margin-bottom: 0.1em;
}

a.p.x {
    /* background-color: var(--bg-done); */
    text-decoration: line-through;
}
a.p.y {
    /* background-color: var(--bg-out); */
    /* font-style: italic; */
    text-decoration: underline;
}
/*  links with txt color
    - items
*/
a.a1 {
    margin-right: var(--mr);
}
.a1 > p {
    color: var(--tc);
}
.x > .a1 > p {
    /* color: var(--tc-done); */
    text-decoration: line-through;
}
.y > .a1 > p {
    /* color: var(--tc-out); */
    /* font-style: italic; */
    text-decoration: underline;
}
/* items: small links right */
a.a2 {
    position: absolute;
    top: var(--mtr);
    right: 0;
    z-index: 3;
    width: var(--mr);
    height: var(--hr);
    background-color: var(--bg-out);
    border-radius: 0.25em 0 0 0.25em;
}

a.items {
    margin-bottom: 1em;
}
.item {
    position: relative;
    margin-bottom: 1em;
}

.top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;

}
a.top { border-bottom: 0.1em solid var(--bg); }

.bottom
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h2 {
    padding-left: var(--ml);
    font-size: 100%;
    color: var(--tc-heading);
}

hr {
    border: none;
    margin: 1em;
}

div.mn {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    z-index: 5;
}
div.mn > a {
    flex-grow: 1;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
}

.reset      { background-image: url('img/reset.svg'); }
.remove     { background-image: url('img/trash.svg'); }
.edit       { background-image: url('img/pen.svg'); }
.view       { background-image: url('img/eye.svg'); }
.back       { background-image: url('img/back.svg'); }
.imprint    { background-image: url('img/paragraph.svg'); }
.up         { background-image: url('img/up.svg'); }
.save       { background-image: url('img/save.svg'); }
.enter      { background-image: url('img/enter.svg'); }

textarea.txt {
    width: 95%;
    height: 90%;
    font-family: serif;
    font-size: 1em;
    padding: 1em 0 2em 1em;
    color: var(--tc);
    background-color: var(--bg);
    resize: none;
    overflow-x: clip;
    animation: 1s blink step-end infinite;
}
/* confirm button  */
#conf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 8;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
#conf.v {
    visibility: visible;
}
#conf > div {
    margin: 2%;
    background-color: var(--bg);
    border: solid 2px var(--bg-alert);
    box-shadow: 5px 5px 15px black;
}
#conf > div > p {
    background-color: var(--bg-alert);
    padding: 0.1em 0.5em 0.1em 0.5em;
    line-height: 90%;
    overflow-x: clip;
    text-align: center;
}
a.p.conf {
    padding-left: 0.05em;
}

.itxt {
    white-space: break-spaces;
    font-size: 60%;
    margin: 1em;
}
.itxt > a {
    color: var(--tc-link);
}

textarea.line {
    width: 80%;
    margin: 0 10% 0 10%;
    font-size: 100%;
}
