* { margin: 0.1em; }
form { margin: 0; display:inline-block; }
body { margin-bottom: 2em; }
body.prev { background-color: #a2ebff; }
p { margin-bottom: 0.2em; margin-top: 0.2em; vertical-align: top; }

a { text-decoration: none; color: #00F; }

div.cont { font-size: 5em; margin-left: 0.8em; margin-bottom: 2em; }
div.cont * { font-style: italic; color: rgb(0, 92, 200); }
div.cont hr { height: 0.6em; background-color: none; border:none; }


li.x, li.x > a { color: rgb(175, 175, 175); }
li { margin-bottom: 0.4em; }

input[type=text] { 
    font-size: 2em; border: 0;
    margin-top: 0.2em; margin-bottom: 2em;
}

textarea { 
    font-family:"Times New Roman", Times, serif;
    font-size: 2em;
}

.bt {
    display: block;
    border: solid 1px black;
    font-family: Verdana, sans-serif;
    width: 100%;
    background-color: #DDD;
    font-weight: bold;
    font-size: 2em;
    height:2em;
    text-align: center;
    padding-top: 0.3em;
}
.bt:hover { cursor: pointer; }
.ok { color: darkgreen; }
.nok { color: darkred; }
.res { color: darkorange; }
:disabled, [disabled]
{ 
    color: gray; 
}
