* { margin: 0; font-family: sans-serif; font-stretch: condensed; }
body { margin-bottom: 2em; }

a { text-decoration: none; }

div.display {
    padding-bottom: 0.5em;
    font-size: 4em; padding-left: 0.3em;
    overflow: hidden;
}
.display.prev {
    background-color: #F8F8F8; border-radius: 1em;
    background-image: url('img/eye_white.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
    background-attachment: fixed;
}
div.display.chap { margin-top: 2.8em; }
div.display hr { height: 0.6em; background-color: none; border:none; }

h4 { font-size: 100%; margin-left: 0.9em; }
h3 { font-size: 110%; margin-left: 0.6em; }
h2 { font-size: 120%; margin-left: 0.3em; }

p { 
    background-image: url('img/unchecked.svg'); 
    background-repeat: no-repeat;
    background-position: 0 0.05em;
    background-size: 1em;
    padding-bottom: 0.4em;
}
p.x { background-image: url('img/checked.svg'); }
p > a { 
    display: block; padding-left: 1.2em;
    color: rgb(0, 92, 200); 
}
p.x > a { color: rgb(175, 175, 175); }

input[type=text] {
    font-size: 2em; border: 0;
    margin-top: 0.2em; margin-bottom: 2em;
}

form { width: 100%; }
textarea {
    margin: 0.1em;
    font-family: serif;
    font-stretch: normal;
    font-size: 2em;
    padding-left: 2em;
    border-radius: 0.5em;
    width: 70%;
}

.bt {
    display: block;
    width: 99%;
    margin: 0.1em;
    height:3em;
    border: 2px solid gray;
    border-radius: 1.5em;
    background-color: white;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 92, 200);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3em;
    line-height: 3em;
}
.bt:hover   { cursor: pointer; }
.bt:disabled:hover, .bt[disabled]:hover { cursor: not-allowed; }

.bt.back    { background-image: url('img/back.svg'); }
.bt.cancel  { background-image: url('img/cancel.svg'); }
.bt.chap    { background-image: url('img/unchecked.svg'); background-position: left; }
.bt.chap.x  { background-image: url('img/checked.svg'); color: rgb(175, 175, 175); }
.bt.done    { background-image: url('img/checked.svg'); }
.bt.edit    { background-image: url('img/pen.svg'); }
.bt.login   { background-image: url('img/login.svg'); }
.bt.logout  { background-image: url('img/logout.svg'); }
.bt.prev    { background-image: url('img/eye.svg'); }
.bt.remove  { background-image: url('img/trash.svg'); }
.bt.remove.confirm { background-position: left; color: darkred; }
.bt.reset   { background-image: url('img/reset.svg'); }
.bt.save    { background-image: url('img/save.svg'); }
.bt.state   { background-image: url('img/unchecked.svg'); background-position: left; color:black; }
.bt.state.x { background-image: url('img/checked.svg'); }

div.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.5em;
    z-index: 1;
    margin: 0;
    background-color: white;
}
