* { margin: 0.1em; }
form { margin: 0; display:inline-block; }
body { margin-bottom: 2em; }
body.paper { background-image: url("img/paper.jpg"); }
p { margin-bottom: 0.2em; margin-top: 0.2em; vertical-align: top; }

a { text-decoration: none; color: #00F; }

div.handy { font-size: 5em; margin-left: 0.8em; margin-bottom: 2em; }
div.handy * { font-style: italic; color: rgb(0, 92, 200); }
div.handy hr { height: 0.6em; background-color: none; border:none; }

li.x, li.x > a { color: rgb(175, 175, 175); }
li { margin-bottom: 0.4em; }

input[type=text] { 
    font-size: 2em; border: 0;
    margin-top: 0.2em; margin-bottom: 2em;
}

textarea { 
    font-family:"Times New Roman", Times, serif;
    font-size: 2em;
}

.bt {
    font-weight: bold;
    font-size: 2em;
    width:10em;
    height:3em;
}
.ok { 
    color: darkgreen;
}.skip { 
    color: darkred; 
}
:disabled, [disabled]
{ 
    color: gray; 
}
